---
import "../styles/global.css";

// const image_data = Astro.props;

//const response = await fetch("http://0.0.0.0:8000/images/1632_030");
//const data = await response.blob();

//const imgSrc = "http://0.0.0.0:8000/images/1632_030";

interface Props {
  id: string;
  width: number;
  height: number;
  scale: number;
  filename: string;
  size: number;
  created_at: Date;
}

const { id, width, height, scale, filename, size, created_at } = Astro.props

const url = "http://127.0.0.1:8000/images/" + id
---

<div class="group relative w-full h-full">
  <img 
    src={url} 
    width={width * scale} 
    height={height * scale} 
    class="w-auto h-auto max-w-full max-h-full object-contain"
    loading="lazy"
    data-filename={filename}
    data-size={size}
    data-created={created_at.toISOString()}
  />
</div>